* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 30px;

}

.main-container {
    margin-bottom: 80px;
}

.btn-blue {

    background-color: #0061ff;
    color: white;
    border: #0061ff;
}

.btn-white {
    background-color: #f5f5f5;
    color: black;
    width: 175px;
    height: 50px;
}

.btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 8px 20px;
}

.hd-left-content {
    display: flex;
    align-items: center;
}

.hd-links {
    padding: 8px;
}

.hd-link-blue {
    background-color: aqua;
}

.main-blue {
    background-color: #B4D0E7;

}

.main-final {
    background-color: #B4D0E7;
    padding: 5rem;
}

.s-title {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;


}

.first-container-title {
    font-size: 55px;
    padding: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;


}

.arrow-down {
    margin-top: 100px;
}

.row-first-content {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.first-content {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
}

.first-content-img {
    width: 600px;
    height: 500px;
}

.rightcol-first-container {
    position: relative;
    top: 60px;
}

.second-container {
    padding-top: 85px;
}

.info-plan {
    padding: .5rem;
    padding-bottom: .5rem;
}

.second-content,
.third-content,
.fourth-content,
.fifth-content,
.sixth-content,
.seventh-content {
    max-width: 650px;
    min-width: 300px;
    margin: 0 auto;
}

.eigth-content {
    width: 750px;
    min-width: 350px;
    margin: 0 auto;
}

.hr-mid-width {
    width: 20%;
}

.hr-max-width {
    width: 100%;
}

.row-second-content {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.col-second-content {
    flex-basis: calc(100% / 3 - 25px);
    flex-grow: 1;
    border: 1px solid grey;
}

.data {
    padding: 1.5rem;
}

.try-buy-button {
    margin-bottom: 10px;
}

.list-flex {
    display: flex;
}

.icons {
    padding: .5rem;
}

.radio-button {
    padding: .5rem;
}

.info-space {
    list-style: none;
}

.col-title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}

.col-sub-title {
    text-align: center;
    padding: .5rem;
    border-bottom: 1px solid grey;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Space Grotesk', sans-serif;

}

.text{
    margin-top: 25px;

}



.large-row {
    border: 1px solid grey;
}

.large-row-second-content {
    display: flex;
}


.third-content {
    display: flex;
}

.third-content-right {
    padding: 2rem;
}

.img-partner {
    width: 400px;
    height: 350px;
}

.business-photo {
    width: 200px;
}
.padding-2rem{
    padding: 2rem;
}

.row-fourth-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.col-fourth-content {
    flex-basis: calc(100% / 3 - 25px);
    flex-grow: 1;
}

.square-container{
    display: flex;
    flex-wrap: wrap;
}

.square-container .square{
    height: calc(100vw / 6);
    width: 50%;
    border: 1px solid red;
    padding: 6rem 0;
}

.row-box{
    display: flex;
}

.col-box{
    flex-grow: 1;
    flex-basis: 0;
}

.img-width-50{
    width: 50%;

}

.img-box{
    width: 200px;
    display: block;
    margin: 0 auto;

}


.sixth-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifth-title {
    width: 400px;
}

.sixth-final-title {
    width: 290px;
}

.ft {
    background-color: black;
    color: white;
    padding: 3rem;

}

.ft-col {
    width: calc(100% / 5 - 40px);
    min-height: 300px;
    padding: 10px;
}

.faq-questions {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.ft-row {
    display: flex;
    justify-content: space-around;
}

.final-links {
    text-decoration: none;
    color: white;
}