* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 30px;

}

.btn-blue{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.hd-left-content {
    display: flex;
    align-items: center;
}

.hd-links {
    padding: 8px;
}

.hd-link-blue {
    background-color: aqua;
}


.first-block{
    background-color: #B4D0E7;
}

.s-title {
    padding-bottom: 30px;
    padding-top: 100px;
    font-size: 30px;
}

.first-container-title {
    font-size: 55px;
    padding: 1rem;
}

.arrow-down{
    margin-top: 100px;
}

.row-first-content {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.first-content {
    max-width: 820px;
    min-width: 300px;
    margin: 0 auto;
}

.first-content-img {
    width: 600px;
    height: 500px;
}

.rightcol-first-container {
    position: relative;
    top: 60px;
}

.second-container {
    padding-top: 85px;
}

.info-plan {
    padding: .5rem;
    padding-bottom: .5rem;
}

.second-content,
.third-content,
.fourth-content,
.fifth-content,
.sixth-content,
.seventh-content {
    max-width: 650px;
    min-width: 300px;
    margin: 0 auto;
}

.eigth-content {
    width: 750px;
    min-width: 350px;
    margin: 0 auto;
}

.hr-small-width {}

.hr-mid-width {
    width: 20%;
}

.hr-max-width {
    width: 100%;
}

.row-second-content {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.col-second-content {
    flex-basis: calc(100% / 3 - 25px);
    flex-grow: 1;
    border: 1px solid grey;
}

.data{
    padding: 1.5rem;
}

.icons{
    padding: .5rem;
}

.radio-button {
    padding: .5rem;
}

.second-card-title {
    margin-bottom: 1rem;
}

.info-space {
    list-style: none;
}

.col-sub-title {
    text-align: center;
    padding: .5rem;
    border: 1px solid;
}

.large-row-second-content {
    display: flex;


}

.third-content {
    display: flex;
}

.img-partner {
    width: 400px;
    height: 350px;
}

.business-photo {
    width: 200px;
}

.row-fourth-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.col-fourth-content {
    flex-basis: calc(100% / 3 - 25px);
    flex-grow: 1;
}

.sixth-content {
    display: flex;
    justify-content: space-between;
}

.fifth-title {
    width: 400px;
}

.sixth-final-title {
    width: 290px;
}

.unibox-img {
    width: 150px;
    background-color: aqua;
}

.ft-col {
    width: calc(100% / 5 - 40px);
    min-height: 300px;
    padding: 10px;

}

.ft-row {
    display: flex;
    justify-content: space-around;
}